$margin: 0;
$text-align: center;

.card {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 5px -5px rgba(30, 129, 204, 0.2);  
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
    "title title"
    "text img";

  &__title {
    margin: $margin;
    text-align: $text-align;
    grid-area: title;
  }
  
  &__text {
    margin: $margin;
    text-align: $text-align;
    grid-area: text;
  }
  
  &__img {
    height: 150px;
    grid-area: img;
  }
}

